/* MOB */
@media(max-width: 766px){

    /* HOME-NAVBAR */

.navbar-home{
    background: linear-gradient(rgba(57,57,69,0.8), rgba(57,57,69,0.8)), url(../images/mob-home.jpg) no-repeat center;
    background-size: 100%;
    object-fit: cover;

}

.navbar{
    flex-direction: column;
    align-items: center;
}

nav .menus{
    flex-direction: column;
    align-items: center;
}

nav .menus li:last-child{
    width: 170px;
}


/* categories & search_box */

.categories_search_box .container .item:nth-child(1),
.categories_search_box .container .item:nth-child(3){
    display: none;
}

.categories_search_box .srh-txt{
    display: none;
}

.categories_search_box .container .item:nth-child(2){
    flex-grow: 100;
    margin-right: 0px;
    
}
.categories_search_box .container .item:nth-child(4){
    flex-grow: 1;
    
}

.home-categories div, .home-categories{
    gap: 30px;
}

.big_box{
    flex-direction: column;
}
.buttons-field{
    flex-direction: row;
    width: auto;
}

.buttons-field .item{
    flex-direction: column;
    padding: 6px;
    flex: 2;
    border: 1px solid #000;
    align-items: center;
}

.buttons-field .item p{
    display: none;
}

.category [class*="fa-so"]{
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    
}

.description button{
    padding: 10px 10px;
    width: max-content;
}

.description{
    width: 80%;
    gap: 60px;
    flex: 2;
    align-items: center;
}




.card{
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.card div:last-child h3{
    margin-bottom: 0px;
}

.card .star-rating{
    gap: 10px;
}

.listing .card img{
    width: 110%;
    margin-left: 30px;
    margin-bottom: 20px
}

.card div:last-child button{
    margin-bottom: 20px;
}

.footer{
    gap: 30px;
    align-items: center;
}






}









/* TAB */

@media(min-width:767px) and (max-width: 900px){

    /* HOME-NAVBAR */

.navbar-home{
    background: linear-gradient(rgba(57,57,69,0.8), rgba(57,57,69,0.8)), url(../images/tab-home.jpg) no-repeat center;
    background-size: 100%;
    object-fit: cover;

}

.navbar{
    flex-direction: column;
    align-items: center;
}


.card{
    flex-direction: column;
    align-items: center;
}

.card div:last-child h3{
    margin-bottom: 0px;
}

.card .star-rating{
    gap: 10px;
}

.listing .card img{
    width: 110%;
    margin-left: 30px;
    margin-bottom: 20px
}

.card div:last-child button{
    margin-bottom: 20px;
}

.footer{
    gap: 30px;
}



}