* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

hr{
    margin: 0px 95px;
}



.container {
    display: flex;
}


/* NAV BAR */

nav a {
    text-decoration: none;
    color: #fff;
}

nav h2 {
    color: #fff;
}

nav ul {
    list-style: none;
}

.navbar {
    gap: 20px;
    justify-content: space-between;
    padding: 20px 100px;
}

nav .menus {
    gap: 20px;
}

nav .menus li:last-child a {
    background-color: #fff;
    color: #000;
    padding: 6px 16px;
    border-radius: 3px;
}





/* HOME-NAVBAR */

.navbar-home {
    background: linear-gradient(rgba(57, 57, 69, 0.8), rgba(57, 57, 69, 0.8)), url(../images/desktop-home.jpg) no-repeat center;
    background-size: 100%;
    object-fit: cover;

}


/* HOME */

.home {
    justify-content: center;
    color: #fff;
}

.home_box {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin: 100px 0px;
    text-align: center;
}

.home_box h1 {
    font-size: 40px;

}


/* categories & search_box */


.categories_search_box {
    width: 85%;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
}



.categories_search_box table {
    border-collapse: collapse;
    width: 100%;

}




.categories_search_box .container .item {
    padding: 15px;
    width: 28%;
    border: none;

}

.categories_search_box .container .item:nth-child(2) {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

.categories_search_box .container .item:nth-child(4) {
    background-color: aqua;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.categories_search_box .container .item:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
}

.categories_search_box .item:not(:last-child) {
    margin-right: 10px;
}





/* CATEGORIES */

.home-categories {
    gap: 60px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    margin-top: 20px;
    margin: 0px 50px;
}


.home-categories div {
    text-align: center;
    gap: 60px;
    width: max-content;
    cursor: pointer;
}




/* ICONS */
.home-categories [class*="fa-so"] {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;

}







/* CATEGORY */

.category .heading {
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

.category .heading h1 {
    margin-bottom: 10px;
    font-weight: bold;
}


.big_box {
    width: 83%;
    background-color: rgba(57, 57, 69);
    color: #fff;
    margin: auto;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
}

.buttons-field {
    flex-direction: column;
    width: 25%;
    flex: 1;
}


.buttons-field .item {
    padding: 28px;
    flex: 2;
    border: 1px solid #000;
    gap: 10px;
    align-items: center;
}

.description {
    flex-direction: column;
    width: 37.5%;
    gap: 60px;
    flex: 2;
}

.description button {
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    ;
}

.image {
    flex: 2;
}

.image img {
    width: 250px;
    border-radius: 10px;
}


.category [class*="fa-so"] {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;

}


/* LISTING */

.listing {
    width: 83%;
    margin: auto;
    margin-bottom: 100px;
}

.listing .heading {
    flex-direction: column;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

.listing .heading h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

.listing .card img {
    width: 400px
}

.listing .card {
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    padding-right: 30px;
    margin-bottom: 30px;
}

.listing .card table tr:nth-child(even) td {
    padding-bottom: 20px;
}

.card .star-rating {
    flex-direction: column;
    gap: 90px;
    margin-left: 10px;
    min-width: max-content;
}

.card div:last-child .star-rating h3 {

    margin-bottom: 120px;
}

.card div:nth-child(2) {
    margin-left: 10px;
    min-width: max-content;
}

.card div:last-child button {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}


/* footer */
.footer{
    margin: 40px 95px;
    gap: 90px;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.footer table tr th, .footer table tr td{
    padding: 8px;
    text-align: left;
}

.footer div{
    min-width: fit-content;
    flex: 1;
}

.footer-copyright{
    flex-direction: column;
    align-items: center;
    margin: 22px;
    font-family: sans-serif;
}

.footer-copyright p:first-child{
    margin-bottom: 10px;
}